*{
    margin: 0;
    padding: 0;
}

/* main header css */

#header-container{
    display: flex;
    align-items: center;
	height: 20vh;
    /* background-color: red; */
}
.header-text{
	flex:1;
	/* background-color: gray; */
	/* text-align: center; */
	/* font-family: 'Barlow', sans-serif; */
}
.header-text a{
	text-decoration: none;
    padding-left:10%;
	font-size: 2.5em;
	color: rgba(0, 0, 0, 0.76);
}
.header-nav{
	flex:1;
	/* background-color: rgb(238, 61, 61); */
}
.header-nav ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.header-nav ul li{
	list-style-type: none;
	padding: 16px;

}
.header-nav ul li a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.76);
	font-size: 1.2em;
}

/* Banner container */

#banner-container{
    display: flex;
    align-items: center;
    /* background-color: rgb(224, 95, 95); */
    height: 600px;
    padding: 50px 0;
}
.banner-text{
    flex:1;
    box-sizing: border-box;
    padding-left: 5%;
    /* height: 400px; */
    /* background-color: gray; */
}
.banner-text h1{
    font-size: 4em;
    color: rgba(0, 0, 0, 0.76);
}
.banner-text h1 span{
    color: rgb(221, 179, 39);
}
.banner-text h3{
    margin-top: 35px;
    margin-bottom: 55px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.473);
}
.banner-text a{
    text-decoration: none;
    padding: 18px 35px;
    border-radius: 30px;
    font-weight: 750;
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    margin-top: 40px;
}
.banner-image{
    flex:1;
}
.banner-image img{
    width: 80%;
    height: 600px;
}

/* About section css */

#about-container{
    display: flex;
    align-items: center;
    padding-top: 70px;
    background-image: url(../img/shapes/Frame\ 57.jpg);
    background-size: 100% 100%;
}
.contect-container-image {
    flex:1;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.contect-container-image img{
    width: 330px;
    height: 500px;
    /* background-color: aquamarine; */
}
.contect-container-text{
    flex:1;
    /* background-color: rgb(77, 236, 130); */

}
.contect-container-text h1{
    margin-left: 60px;
    font-size: 2.6em;
    color: rgba(0, 0, 0, 0.76);
}
.contect-container-text p{
    color: rgba(0, 0, 0, 0.842);
    margin-top: 35px;
    margin-bottom: 100px;
    font-size: 1.2em;
    margin-left: 60px;
}
.contect-container-text a{
    text-decoration: none;
    padding: 18px 40px;
    border-radius: 30px;
    font-weight: 750;
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    margin-top: 40px;
    margin-left: 60px;
}

/* Food container css */

#food-container{
    height: 365px;
    background-color: rgb(185, 231, 216);
}
.food-gal-text{
    text-align: center;
    padding: 30px 0;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.76);
}
.food-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    border-radius: 20px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.664);
}
.food-images img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

/* recipies container css */

#recipes-container{
    padding: 50px 0;
}
.recipes-info{
    text-align: center;
    padding-bottom: 40px;
}
.recipes-info h1{
    margin-bottom: 20px;
}
.recipes-card{
    display: flex;
    justify-content: center;
}
.recipes-card-item{
    margin: 0 35px;
    border-radius: 20px;
    width: 335px;
    height: 450px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.19);
}
.recipes-card-item .image{
    text-align: center;
    padding-top: 15px;
}
.recipes-card-item img{
    width: 300px;
    height: 230px;
    border-radius: 20px;
}
.recipes-card-item h3{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;
    padding-left: 20px;
}
.recipes-card-item p{
    margin-top: 12px;
    padding-left: 20px;
    line-height: 25px;
}

/* subscription container css*/

#subscription{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 55px 0;
    text-align: center;
}
.subscription-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.19);
}
.subscription-card-info h1{
    font-size: 50px;
    font: 900;
    margin-bottom: 10px;
}
/* .subscription-card-info p{

} */
#footer-container{
    
}